* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body,html{
    padding:0px;
    margin: 0px;
}
:root {
    --primary-color: #004b93;
    --slide-height: 500px;
    --yellow: #ffd200;
    --text: color: #212529;
}

.fa {
    font-size: 30px;
    color: #8caece;
    display: flex;
    align-items: center;
    margin: 0px 15px;
    text-decoration: none;
}

.border {
    border: 2px dashed #e9c60c;
}

body {
    background-color: #ffffff !important;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btn {
    border-radius: 4px;
    padding: 10px;
}

.bg-grey {
    background-color: #f6f9fb;
}

.bg-light {
    background-color: #ffffff;
}

.column-xl-6 {
    width: 50%!important;
}

hr {
    border: 1px solid #dadde1;
}

.w-100 {
    width: 100% !important;
}

.w-80 {
    width: 80% !important;
}

.w-50 {
    width: 50% !important;
}

.w-20 {
    width: 20 !important;
}

.w-33 {
    width: 33% !important;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-left {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.dir-column {
    flex-direction: column;
}

.dir-row {
    flex-direction: row;
}

header {
    width: 100%;
    background-color: var(--primary-color);
    height: 80px;
    max-height: 80px;
    z-index: 100;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 600;
}

ul {
    width: 100%;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}

ul li {
    list-style: none;
    width: 16.66%;
    justify-content: center;
}

ul li a {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-link::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

ul li .main-link:hover {
    border-top: 2px solid #000000;
}

#logo {
    width: 104px;
    height: 46px;
}

#left-container {
    background-image: url(../img/macro_ice_right.png);
    background-position: left top;
}

#right-container {
    background-image: url(../img/macro_ice_left.png);
    background-position: right bottom;
}

.ice-macro {
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
    width: 5%;
}

nav {
    width: 90%;
    padding: 10px 0px;
}

#btnContainer {
    height: var(--slide-height);
    padding: 0px 30px;
    z-index: 10;
}

#btnContainer button {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
}

button img {
    opacity: 0.5;
}

button img:hover {
    opacity: 1;
    cursor: pointer;
}

.slide-item:nth-child(1) {
    background-image: url(../img/bannerhome_grupoice_ElectricidadPrepago_1280x446.png);
}

.slide-item:nth-child(2) {
    background-image: url(../img/bannerhome_grupoice_ElectroAsistencia_1280x446.png);
}

.slide-item:nth-child(3) {
    background-image: url(../img/banner_ofertaintegrada_home_desk1280-446.png);
}

.slide-item {
    height: var(--slide-height);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#sliderContainer {
    height: var(--slide-height);
    margin-bottom: -500px;
}

.slide-item {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 0.2s;
}


/*
@keyframes fade {
    from {
        opacity: .8
    }
    to {
        opacity: 1
    }
}
*/

.yellow-line {
    height: 2px;
    width: 341px;
    background: linear-gradient(90deg, #ffffff, #e9c60c, #ffffff);
}

.titulo2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 44px;
    color: var(--primary-color);
}

section {
    padding: 10px;
}

.py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.px-20 {
    padding-right: 25px;
    padding-left: 25px;
}

#section2 {
    width: 100%;
    margin: auto;
}

#section2 .column:nth-child(1) {
    border-right: 1px solid var(--yellow);
}

#imageColumn {
    border-radius: 5px;
}

.cta-contenedor {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.cta-contenedor p,
.cta-contenedor img {
    width: 40%;
}

.flex-wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.list-icon {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    text-decoration: none;
    color: #212529;
    padding: 10px 15px;
    width: 236px;
    height: 100px;
    border-radius: 5px;
}

.list-icon:hover {
    border: 1px solid var(--primary-color)
}

.list-icon img {
    width: 40%;
}

.list-icon p {
    width: 60%;
    padding: 0px 10px;
    color: var(--text);
}

#section3 {
    background-image: url(../img/backgroundServPrinc.png);
    height: var(--slide-height);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin-bottom: 30px;
}

#listContainer {
    width: 80%;
    margin: auto;
}

#clickBtn {
    width: 160px;
    height: 60px;
}

#boletinTitle {
    font-size: 32px;
    color: #212529;
    margin-bottom: 20px;
}

.videoParallax {
    height: 444px;
    padding: 50px 0px;
}

.videoParallax video {
    min-height: 100%;
    top: 0;
    position: fixed;
    z-index: -999;
}

#section5 {
    height: var(--slide-height);
}

#section5 div img {
    width: 90px;
    height: 70px;
}

#section5 #boxContainer {
    width: 70%;
    margin: auto;
}

#section5 #boxContainer .column-xl-6 {
    padding: 40px;
}

.ver-mas-btn {
    padding: 10px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px 15px;
}

.column-xl-6 .ver-mas-btn {
    display: inline;
}

#section7 .titulo2,
#section7 p {
    text-align: center;
}

.mx-auto {
    margin: 0 auto;
}

#section7 a {
    margin: 40px auto;
}

.controls {
    width: 170px;
}

.controls button {
    padding: 10px;
}

.noticias-item {
    padding: 20px 10px;
    margin: 0px 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

section {
    background-color: #ffffff;
}
.breadcrumb p{
    color: #4a4a4a;
    font-size: 12px;
    padding:10px 20px;
    
}
.breadcrumb p a{
    text-decoration: none;
    color: #212529;
    list-style: none;
    font-weight: 600;
}

.breadcrumb p a:hover{
 color:var(--primary-color)
}

.breadcrumb-arrow {
    background-image: url(../img/right-arrow.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 11px;
    background-size: 75%;
    width: 15px;
    vertical-align: text-bottom;
}
/*
.menu-container:nth-child(1) ul{
    width: 50%;
}


.secondary-menu{
    width: 60%;
    display: flex;
    justify-content: center;
}*/
.menu-container:nth-child(2){
    display:flex;
    justify-content:space-around;
    align-items: center;
}

ul.secondary-menu li{
    width: 25%;
}

.secondary-menu li a{
    color:#727171;
    font-weight: 700;
    text-decoration: none;
    height: 40px;
    border: 1px dashed salmon;
}

.secondary-menu li a:hover, .secondary-menu li a:active{
    color:var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}


ul.socials{
    width: 30%;
    border:1px dashed #004b93;

}

.socials a{
    height: 32px;
    width: 32px;
    font-size:18px;
    text-decoration: none;
    padding:5px;
    border-radius: 100%;
    color: #4a4a4a;
    background-color: #d7d7d7;
}

.menu-container:nth-child(2){
    display:flex;
    justify-content: flex-end;
}

.menu-container{
    padding-bottom: 30px;
}

.menu-container{
    width: 50%;
    display: flex;
}

hr{
    border-right: 1px solid #8c8b8b;
    width:50%;
}

.text-container{
    width: 60%;
    margin: 0 auto;
    padding:40px 20px;
}

.text-container h2{
    font-size: 32px;
    margin-bottom:40px;
    font-weight: 500;
}

.text-container p{
    margin-bottom:20px;
    font-size: 16px;
}